<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nesara.amaresh.demosell">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="demosell.amaresh.android.com.nesara.Activity.EnterPhone"
            android:label="Registration" />
        <activity
            android:name="demosell.amaresh.android.com.nesara.Activity.AdminActivity"
            android:label="Dash Board">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="demosell.amaresh.android.com.nesara.Activity.AdminDetails"
            android:label="AdminDetails" />
        <activity android:name="demosell.amaresh.android.com.nesara.Activity.PayMentGateWayPayUbiz" />
        <activity
            android:name="demosell.amaresh.android.com.nesara.Activity.Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="demosell.amaresh.android.com.nesara.Activity.TransactionHistory"
            android:parentActivityName="demosell.amaresh.android.com.nesara.Activity.Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="demosell.amaresh.android.com.nesara.Activity.AddSubscription"
            android:label="@string/add_sub"
            android:parentActivityName="demosell.amaresh.android.com.nesara.Activity.Home" />
        <activity
            android:name="demosell.amaresh.android.com.nesara.Activity.Mywallet"
            android:label="@string/my_wallet"
            android:parentActivityName="demosell.amaresh.android.com.nesara.Activity.Home" />
        <activity
            android:name="com.payu.payuui.Activity.PaymentsActivity"
            android:label="@string/pay_confirm"
            android:parentActivityName="demosell.amaresh.android.com.nesara.Activity.Home"
            tools:replace="android:label" />
        <activity
            android:name="demosell.amaresh.android.com.nesara.Activity.Subscription_edit"
            android:label="@string/edit_sub"
            android:parentActivityName="demosell.amaresh.android.com.nesara.Activity.Home" />

        <receiver android:name="demosell.amaresh.android.com.nesara.Util.OtpReader">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="demosell.amaresh.android.com.nesara.Activity.DeliveryDetails"
            android:label="Delivery Details" />
        <activity android:name="demosell.amaresh.android.com.nesara.Activity.CalenderView" />
        <activity android:name="demosell.amaresh.android.com.nesara.Activity.Resumecalender" />
        <activity
            android:name="demosell.amaresh.android.com.nesara.Activity.NotificationActivity"
            android:label="Notifications"
            android:parentActivityName="demosell.amaresh.android.com.nesara.Activity.Home" />
        <activity
            android:name="demosell.amaresh.android.com.nesara.Activity.AdminUserList"
            android:label="Users"
            android:parentActivityName="demosell.amaresh.android.com.nesara.Activity.AdminActivity" />
        <activity
            android:name="demosell.amaresh.android.com.nesara.Activity.UserDetailsPage"
            android:label="Details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="demosell.amaresh.android.com.nesara.Activity.SetProductPrice"
            android:label="Set Price"
            android:parentActivityName="demosell.amaresh.android.com.nesara.Activity.AdminActivity" />
        <activity
            android:name="demosell.amaresh.android.com.nesara.Activity.MessageActivity"
            android:label="Message"
            android:parentActivityName="demosell.amaresh.android.com.nesara.Activity.AdminActivity" />
        <activity
            android:name="demosell.amaresh.android.com.nesara.Activity.ContactsActivity"
            android:label="All Users"
            android:parentActivityName="demosell.amaresh.android.com.nesara.Activity.MessageActivity" />
        <activity
            android:name="demosell.amaresh.android.com.nesara.Activity.CuponCodeActivity"
            android:label="Generate Discount Cupon"
            android:parentActivityName="demosell.amaresh.android.com.nesara.Activity.AdminActivity" />
        <activity
            android:name="demosell.amaresh.android.com.nesara.Activity.AddApartments"
            android:label="Apartments" />
        <activity
            android:name="demosell.amaresh.android.com.nesara.Activity.Addapartmentdeatils"
            android:label="Enter Apartment Details"
            android:parentActivityName="demosell.amaresh.android.com.nesara.Activity.AddApartments" />
        <activity android:name="demosell.amaresh.android.com.nesara.Activity.ReportActivity"
            android:label="Delivery Report"
            android:screenOrientation="portrait"
            android:parentActivityName="demosell.amaresh.android.com.nesara.Activity.AdminActivity"></activity>
        <activity android:name="demosell.amaresh.android.com.nesara.Activity.MessageDetilActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            ></activity>

        <!-- Firebase Notifications -->
        <service android:name="demosell.amaresh.android.com.nesara.Firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="demosell.amaresh.android.com.nesara.Firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:exported="false"
            android:name="demosell.amaresh.android.com.nesara.Firebase.MyJobService">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>
    </application>

</manifest>